.links {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
}

.links h2 {
  font-size: 2rem;
}

.links p {
  font-size: 1.2rem;
}

.icon-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust spacing between heading and icons */
}

.icon {
  font-size: 2rem;
  margin: 0 10px;
  color: #000000; /* Adjust color as needed */
}

.icon:hover {
  color: #0056b3; /* Adjust hover color as needed */
}
