 .App {
  text-align: center;
}


.scroll-button {
  font-size: 1.2rem; /* Adjust font size */
  padding: 15px 30px; /* Increase button padding */
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 0px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for color change */
}

.scroll-button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
}


.footer {
  margin-top: 20px; /* Adjust spacing between content and footer */
}

/* App.css */
.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for better visibility */
  z-index: 1000; /* Ensure it's above other content */
  display: flex;
  justify-content: center;
  padding: 1rem;
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.navigation:hover {
  background-color: #000000; /* Dark background on hover */
}

.navigation a {
  margin: 0 1rem;
  text-decoration: none;
  color: #000000; /* Default text color */
  font-weight: bold;
  transition: color 0.3s; /* Smooth transition for text color */
}

.navigation a:hover {
  color: #fff; /* White text color on hover */
}

.navigation:hover a {
  color: #bbb; /* Grey text color when nav is hovered */
}

.navigation a:hover {
  color: #fff; /* White text color for the hovered link */
}




